:root {
    --primary: #424242;
    --p-dark: #1b1b1b;
    --p-light: #bdbdbd;
    --p-highlight: #efefef;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 60px 70px 1fr;
    font-family: 'Nunito';
}

h1 {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--primary);
}

#new-todo-form {
    width: 100%;
    padding: .5em;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 4fr 1fr;
    background: var(--p-dark);
}

#new-todo-form input[type=submit], #new-todo-form input[type=text] {
    font-size: 1.1em;
    color: white;
    background: var(--primary);
    border: 3px solid var(--primary);
    padding: .5em;
    border-radius: 4px;
}

#new-todo-form input[type=submit]:focus, #new-todo-form input[type=text]:focus {
    outline: solid var(--p-light);
}

#new-todo-form input[type=submit] {
    cursor: pointer;
    transition-duration: .2s;
}

#todo-list {
    padding: .5em;
    overflow-y: scroll;
    background: var(--p-dark);
}

#todo-list li:not(:last-child) {
    margin-bottom: .5em; 
}

#todo-list li {
    list-style: none;
    padding: .8em 1em;
    font-size: 1.1em;
    border-radius: 4px;
    background: var(--p-light);
}

#todo-list li:hover {
    cursor: pointer;
    transition-duration: .2s;
    background: var(--p-highlight);
}

body, h1, ul {
    margin: 0;
    padding: 0;
}