:root {
    --primary: #cfd8dc;
    --p-dark: #263238;
    --p-light: #eceff1;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--p-dark);
}

#app {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr;
    font-family: 'Nunito';
}

h1 {
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
    background: var(--primary);
}

#new-todo-form {
    padding: .5em;
    text-align: center;
}

#new-todo-form input[type=text]:focus {
    outline: none;
    background: var(--p-light);
    border-color: var(--p-light);
    color: black;
}

#todo-list {
    overflow-y: auto;
    padding: .5em;
}

#new-todo-form input[type=text] {
    max-width: 30em;
}

#new-todo-form input[type=text], #todo-list li {
    width: 100%;
    padding: .5em 1em;
    border: 3px solid var(--primary);
    margin: auto;
    font-size: 1.1em;
    border-radius: 4px;
    background: var(--primary);
}

#todo-list li {
    margin-bottom: .5em; 
    max-width: 25em;
    list-style: none;
    animation: fall .2s;
}

#todo-list li:hover {
    cursor: pointer;
    transition-duration: .2s;
    background: var(--p-light);
}

body, h1, ul {
    margin: 0;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
    }
}