body {
	font-family: sans-serif;
}

.todo-item {
	display: grid;
	grid-template-columns: 4fr 1fr;
	user-select: none;
	background: #bdbdbd;
	padding: 4px;
	transition-duration: .2s;
}

.todo-item:hover {
	background: #efefef;
	cursor: pointer;
}

.done {
	text-decoration: line-through;
}